@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600&display=swap');

.card-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
    font-family: 'Urbanist', sans-serif;
    overflow-y: auto;
    height: 100vh;
    scrollbar-width: none;
}


.card{
    display: flex;
    height: max-content;
    flex-direction: column;
    background: rgb(0, 0, 0); 
    border: 3px solid rgba(255,255,255,0.1);
    border-radius: 12px;
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(14px);
}

.card:hover{
    transform: scale(1.01);
    box-shadow: 0 0 7px rgba(0, 110, 255,0.8);
}

.image-properties{
    width: 100%;
    height: max-content;
    border-radius: 12px;
   
}

.card h2{
    color: white;
    font-size: 16px;
    margin: 10px;
}

.card h4{
    color: #aaa;
    font-size: 14px;
    margin: 0 10px 10px;
}

.sidebar{
    float:left;
    border:3px solid white;
    width:20%;
    height: auto;
}