@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&family=Trispace:wght@100..800&display=swap');


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ front-page\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.front-container{
    inset:0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-bottom: 10vh;
    
}
.caption{
    color:white;
    margin: 2px 0px;
    font-family: "Trispace", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    
    font-size: clamp(14px,2vw,20px);
    font-style: normal;
}

.search{
    border:none;
    padding-top: 10px;
    width: 100%;
    padding-left: 25px; 
    margin:10px 0px;
    color: white;
    background-color: black;
    font-family: "Trispace", sans-serif;
    font-optical-sizing: auto;
    height: 50px;
    border-radius:25px;
    opacity: 50%;
    transition:box-shadow 0.6s ease-in-out;
    padding-right: 55px;
}

.search:focus{
    outline: none;
    box-shadow: 0 0 20px rgba(0, 128, 255, 0.714);
}
.search::-webkit-search-cancel-button {
    display: none;
}
.eduforge-heading{
    text-shadow: 0 0 8px ;
    margin:0px;
    /* padding:0px; */
    letter-spacing: 2px;
    color: white;
    font-family: "Tourney", sans-serif;
    font-size: clamp(70px,9vw,100px);
    font-weight: 500;
    font-style: normal;

}

.wrapper-front{
    width:clamp(400px,20vw,600px);
    position: relative;
    transition: width 0.2s linear;
}
.wrapper-front:hover{
    width:clamp(400px,25vw,700px);
}

.search-button{
    height: 50px;
    background: none;
    border:none;
    height: 100%;
    aspect-ratio: 1;
    position:absolute;
    right:0;
    margin-top:2px;
}

.login-signup{
    all:unset;
    position:absolute;
    background-color: #031735;
    border:none;
    border-radius: 1000px;
    right:0px;
    margin:20px;
    height:40px;
    width: 120px;
    padding: 0px 10px;
    font-family: "Trispace", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: clamp(7px,3vw,15px);
    font-style: normal;
    color:white;
    border-radius:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-image 0.2s ease-in-out,
                box-shadow 0.7s ease-in-out;
    
}

.login-signup:after{
    content:"";
    position: absolute;
    height: 107%;
    width:102%;
    border-radius: 1000px;
    background-image:linear-gradient(to bottom right, #008cff, #e100ff);
    z-index:-1;
}

.login-signup:hover{
    z-index:0;
    box-shadow: 50px 0 90px #008cff,-30px 0 100px #e100ff;
}



/* |||||||||||||||||||||||||||||||||||||front-page end |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

