@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&family=Trispace:wght@100..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\ front-page\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.front-container{
    inset:0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-bottom: 20vh;
    
}
.logo{
    height: 70px;
    position: absolute;
    left: 0;
    top: 5px;
}
.caption{
    color:white;
    margin: 2px 0px;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: clamp(14px,3vh,23px);
    font-style: normal;
}

.search{
    width: 100%;
    padding-left: 25px;
    margin:10px 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.398);
    font-family: "Trispace", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    height: 50px;
    border-radius:25px;
    opacity: 100%;
    transition:box-shadow 0.6s ease-in-out;
    padding-right: 55px;
        border: 1px solid rgba(255, 255, 255, 0.14);

}

.search:focus{
    outline: none;
    box-shadow: 0 0 15px rgba(0, 137, 249, 0.69);
}
.search::-webkit-search-cancel-button {
    display: none;
}
.eduforge-heading{
    text-shadow: 0 0 px ;
    margin:0px;
    /* padding:0px; */
    letter-spacing: 2px;
    color: white;
    font-family: "Tourney", sans-serif;
    font-size: clamp(70px,9vw,100px);
    font-weight: 500;
    font-style: normal;

}

.wrapper-front{
    width:500px;
    position: relative;
    transition: width 0.2s linear;
}
.wrapper-front:hover{
    width:550px;
}



.search-button{
    height: 50px;
    background: none;
    border:none;
    height: 100%;
    aspect-ratio: 1;
    position:absolute;
    right:0;
    margin-top:2px;
}

.login-signup{
    all:unset;
    position:absolute;
    background-color: black;
    border:none;
    border-radius: 1000px;
    right:0px;
    margin:20px;
    height:40px;
    width: 120px;
    padding: 0px 10px;
    font-family: "Trispace", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: clamp(9px,2vw,15px);
    font-style: normal;
    color:white;
    border-radius:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-image 0.2s ease-in-out,
                font-weight 0.5s ease-in-out,
                box-shadow 0.7s ease-in-out;
    
}

.login-signup:after{
    content:"";
    position: absolute;
    height: 107%;
    width:102%;
    border-radius: 1000px;
    background-image:linear-gradient(to bottom right, #008cff, #e100ff);
    z-index:-1;
}

.login-signup:hover{
    z-index:0;
    font-weight: 400;
    box-shadow: 50px 0 90px #008cff,-30px 0 100px #e100ff;
}

@media only screen and (max-width:600px) {
    .wrapper-front{
    width:330px;
    position: relative;
    transition: width 0.2s linear;
    }
    
    .eduforge-heading{
        font-size: 8vh;
    }

    .caption{
        font-size: 1.6vh;
    }
    .wrapper-front:hover{
        width:380px;
    }
    
}

/* ||||||||||||||||||||||||||||front-page end |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ||||||||||||||||||||||||||| login-page|||||||||||||||||||||||||||| */

body {
  margin: 0;
  overflow: hidden;
}

.login-wrapper {
  height: 100vh;
  display: flex;
  overflow: hidden;

    -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}


.dynamic-scroll-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* required for pseudo-elements */
}


.scroll-content {
  display: flex;
  flex-direction: column;
  animation: scrollUp 10s linear infinite;
}

.scroll-content img {
  margin-left: 10vw;
  width: 420px;
  display: block;
  margin-bottom: 10px;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
.login-container {
    overflow: hidden;
    position: relative;
    border-radius:14px;
    background-color: rgba(10, 7, 20, 0.102);
    height:500px;
    transition: box-shadow 0.8s ease-in-out;
    width: 430px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}
.login-container h1{
    color: white;
    font-family: Urbanist;
    font-weight: 300;
}
.login-container a{
    all: unset;
    text-decoration: underline;
    color: white;
    font-family: Urbanist;
    font-weight: 300;
}
.login-container p{
    color: white;
    font-family: Urbanist;
    font-weight: 300;
}
.login-container:hover{
    box-shadow: 0 0 6px rgb(131, 130, 130);

}

.login-form{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}


.login-container label{
    color:white;
    font-family:urbanist;
    margin:10px 0px 10px 0px;
    font-size: 18px;
}
.login-container input{
    all:unset;
    background-color: rgb(0, 0, 0);
    color:white;
    padding-left:2px;
    font-family: urbanist;
    height: 50px;
    border-radius: 35px;
    padding-left: 20px;
    vertical-align: center;
    font-size: 17px;
    border:1px solid rgba(255, 255, 255, 0.376) ;
}

.login-container button{
    /* margin: 5px; */
    margin-top: 40px;
    height: 50plo   x;
    font-size: 17px;
    border-radius:35px;
    
}
/* |||||||||||||||||||||||||||||||||||||||login-page||||||||||||||||||||||||||||||| */

/* ||||||||||||||||||||||||||||||||||||signup-page|||||||||||||||||||||||||||||||\ */


body {
  margin: 0;
  overflow: hidden;
}

.login-wrapper {
  height: 100vh;
  display: flex;
  overflow: hidden;

    -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}


.dynamic-scroll-container {
  height: 100%;
  overflow: hidden;
  position: relative; /* required for pseudo-elements */
}


.scroll-content {
  display: flex;
  flex-direction: column;
  animation: scrollUp 10s linear infinite;
}

.scroll-content img {
  margin-left: 10vw;
  width: 420px;
  display: block;
  margin-bottom: 10px;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
.login-container {
    overflow: hidden;
    position: relative;
    border-radius:14px;
    background-color: rgba(10, 7, 20, 0.102);
    height:500px;
    transition: box-shadow 0.8s ease-in-out;
    width: 430px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}
.login-container h1{
    color: white;
    font-family: Urbanist;
    font-weight: 300;
}
.login-container a{
    all: unset;
    text-decoration: underline;
    color: white;
    font-family: Urbanist;
    font-weight: 300;
}
.login-container p{
    color: white;
    font-family: Urbanist;
    font-weight: 300;
}
.login-container:hover{
    box-shadow: 0 0 6px rgb(131, 130, 130);

}

.login-form{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}


.login-container label{
    color:white;
    font-family:urbanist;
    margin:10px 0px 10px 0px;
    font-size: 18px;
}
.login-container input{
    all:unset;
    background-color: rgb(0, 0, 0);
    color:white;
    padding-left:2px;
    font-family: urbanist;
    height: 50px;
    border-radius: 35px;
    padding-left: 20px;
    vertical-align: center;
    font-size: 17px;
    border:1px solid rgba(255, 255, 255, 0.376) ;
}

.login-container button{
    /* margin: 5px; */
    margin-top: 40px;
    height: 50px ;
    font-size: 17px;
    border-radius:35px;
    
}
@media only screen and (max-width: 765px) {

  .login-wrapper {
    flex-direction: column;
  }
.signup-wrapper {
  height: 100vh;
  display: flex;
  overflow: hidden;

    -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}


.signup-container {
    overflow: hidden;
    position: relative;
    border-radius:14px;
    background-color: rgba(10, 7, 20, 0.102);
    height:fit-content;
    transition: box-shadow 0.8s ease-in-out;
    width: 430px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}
.signup-container h1{
    color: white;
    font-family: Urbanist;
    font-weight: 300;
}
.signup-container a{
    all: unset;
    text-decoration: underline;
    color: white;
    font-family: Urbanist;
    font-weight: 300;
}
.signup-container p{
    color: white;
    font-family: Urbanist;
    font-weight: 300;
}
.signup-container:hover{
    box-shadow: 0 0 6px rgb(131, 130, 130);

}

.signup-form{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

  .dynamic-scroll-container {
    align-items: flex-start;

  }

  .scroll-content {
    flex-direction: row;
    gap: 205px;
    animation: scrollSide 10s linear infinite;
  
    
  }
  .login-container{
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:14px;
    background-color: rgba(10, 7, 20, 0.102);
    height:500px;
    transition: box-shadow 0.8s ease-in-out;
    width: 430px;
    padding: 20px;
    box-sizing: border-box;
  }
  .login-container:hover{
    box-shadow: 0 0 6px rgb(131, 130, 130);
.signup-container label{
    color:white;
    font-family:urbanist;
    margin:10px 0px 10px 0px;
    font-size: 18px;
}
.signup-container input{
    all:unset;
    background-color: rgb(0, 0, 0);
    color:white;
    padding-left:2px;
    font-family: urbanist;
    height: 50px;
    border-radius: 35px;
    padding-left: 20px;
    vertical-align: center;
    font-size: 17px;
    border:1px solid rgba(255, 255, 255, 0.376) ;
}

.signup-container button{
    /* margin: 5px; */
    margin-top: 40px;
    height: 50plo   x;
    font-size: 17px;
    border-radius:35px;
    padding: 15px;
    
}
.signup-container h1{
    font-weight: 400;
}

}
  .scroll-content img {
    width: 200px;
    transform: rotate(90deg);
    margin: 0;
    transform-origin: top left;
  }

  @keyframes scrollSide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }


}